@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');

.title{
    margin: 3% 0 0 0;
    padding: 0.8rem;
    line-height: 1.5rem;
    font-family:'Fuzzy Bubbles', sans-serif;
    color: rgb(255, 255, 255);
}
.container{
    margin: 3% 0 0 0;
    padding: 0.8rem;
    border: none;
    line-height: 1.5rem;
    font-family:'Fuzzy Bubbles', sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    flex-basis: 99%;
    background: linear-gradient(315deg, #ebaa1f 0%, #ff0800 74%);
}
