button {
    margin-top: 10px !important;
    max-width: 40%;
}

.input-row {
    justify-content: center;
}

.menu-card {
    padding-bottom: 50px;
}

.title-container {
    margin-bottom: 0;
}

table {
    min-width: 500px;
    width: 40vw;
}

.table-container {
    height: 300px;
    margin: 30px 0 30px 0;
}

.table-row:hover {
    background: whitesmoke;
}

.table-row:active {
    background: lightgray;
}

.unavailable {
    text-align: center;
    font-weight: normal;
    font-style: italic;
}
