.textInput {
    width: 250px;
    height: 30px;
    border-radius: 3px;
    //line-height: 0.1;
    //margin-right:2px;
}
.send {
    margin-top: 5px;
    //justify-content: space-between;
    background-color: rgb(76, 131, 250);
    //margin-right:10px;
}