body {
    background: url("https://images.unsplash.com/photo-1636318302056-75ef2fb56c2e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80") no-repeat center center;
    background-size: cover;
}
.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.content {
    height: auto;
    flex: 1 1 auto;
}

.options {
    position: fixed;
    top: 0;
    right: 0;
    margin: 12px 16px;
}
