<div class="container center justify">
    <app-main-menu *ngIf="showPage() === 'Main'" [gameMode]="gameMode" [gameType]="gameType" (buttonClick)="handleClick($event)"></app-main-menu>

    <app-new-game-menu
        *ngIf="showPage() === 'NewGame'"
        [gameMode]="gameMode"
        [gameType]="gameType"
        (buttonClick)="handleClick($event)"
        (newGame)="createGame($event)"
    ></app-new-game-menu>

    <app-game-browser
        *ngIf="showPage() === 'Browser'"
        [gameList]="roomList"
        (buttonClick)="handleClick($event)"
        (joinRoom)="joinGame($event)"
    ></app-game-browser>

    <app-waiting-room
        *ngIf="showPage() === 'WaitingRoom'"
        [configs]="gameConfigs"
        (buttonClick)="handleClick($event)"
        (convertGame)='convertGame($event)'
    ></app-waiting-room>
</div>
