<div class="container">
    <button mat-icon-button class="options" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>

    <div class="content center justify">
        <app-main-menu *ngIf="showPage() === 'Main'" [gameMode]="gameMode" [gameType]="gameType" (buttonClick)="handleClick($event)"></app-main-menu>

        <app-new-game-menu
            *ngIf="showPage() === 'NewGame'"
            [gameMode]="gameMode"
            [gameType]="gameType"
            (buttonClick)="handleClick($event)"
            (newGame)="createGame($event)"
        ></app-new-game-menu>

        <app-scoreboard *ngIf="showPage() === 'Scoreboard'" (buttonClick)="handleClick($event)"> </app-scoreboard>

        <app-game-browser
            *ngIf="showPage() === 'Browser'"
            [gameMode]="gameMode"
            [gameList]="roomList"
            (buttonClick)="handleClick($event)"
            (joinRoom)="joinGame($event)"
        ></app-game-browser>

        <app-waiting-room
            *ngIf="showPage() === 'WaitingRoom'"
            [configs]="gameConfigs"
            (buttonClick)="handleClick($event)"
            (convertGame)='convertGame($event)'
        ></app-waiting-room>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item (click)="showSettings()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Page d'administration</span>
    </button>
</mat-menu>
