button {
    font-size: 18pt;
    font-weight: normal;
    padding: 10px 20px 10px 20px;
    margin: 25px 0 0 0;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 20px 0 20px;
}

.back-button {
    padding: 5px 0 5px 0;
}

.header {
    font-size: 36pt;
    margin-bottom: 45px;
}

.menu-card {
    flex-direction: column;
    padding: 60px 60px 60px 60px;
}

.container {
    height: 100vh;
}

.center {
    display: flex;
    align-items: center;
}

.justified {
    display: flex;
    justify-content: center;
}
