button {
    font-size: 18pt;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
    margin: 20px 0 0 0;
    width: 100%;
}

mat-label {
    font-size: 15pt;
    font-weight: lighter;
}

mat-form-field.mat-form-field {
    font-size: 15pt;
    margin-bottom: 20px;
    padding-top: 0;
}

.title {
    font-size: 36pt;
}

.subtitle {
    font-size: 24pt;
    font-weight: lighter;
}

.title-container {
    margin-bottom: 30px;
}

.menu-card {
    flex-direction: column;
    padding: 60px 60px 60px 60px;
}

.container {
    height: 100vh;
}

.stretch-column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 90%;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.justify {
    display: flex;
    justify-content: center;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
