.letters {
    text-align: center;
    padding: 20px;
    height: 20 px;
    width: 30px;
    float: left;
    font-size: large;
}
.letters:hover {
    background-color: gray;
}

.exchange {
    background-color: rgb(148, 173, 37);
}
.exchange:hover {
    background-color: rgb(107, 122, 40);
}
.cancel {
    background-color: rgb(211, 0, 88);
}
.cancel:hover {
    background-color: rgb(165, 50, 98);
}
