<mat-accordion *ngIf='isVisible'>
    <mat-expansion-panel id='panel-1' [disabled]='this.publicObj[0][1]'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{this.publicObj[0][0]}}
            </mat-panel-title>
            <mat-panel-description>
                {{this.content[0][1]}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{this.content[0][2]}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel id='panel-2' [disabled]='this.publicObj[1][1]'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{this.publicObj[1][0]}}
            </mat-panel-title>
            <mat-panel-description>
                {{this.content[1][1]}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{this.content[1][2]}}</p>
    </mat-expansion-panel>

    <mat-expansion-panel id='panel-3' [disabled]='this.privateObj[1]'>
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{this.privateObj[0]}}
            </mat-panel-title>
            <mat-panel-description>
                {{this.content[2][1]}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{this.content[2][2]}}</p>
    </mat-expansion-panel>
</mat-accordion>
