#panneau {
    border: 1px solid black;
    width: 350px;
    height: 400px;

}
#joueur-container {
    font-size: 3ch;
    text-align: center;
}
#joueur1 {
    font-size: large;
}
#joueur2 {
    border-bottom: 1px solid black;
}