<div class="grid-container">
    <div class="panneau">
        <div class="joueur-container">
            <div class="joueur">Joueur</div>
            <div class="nom-joueur">{{ getName(playerType.Human) }}</div>
            <div class="score-container">
                <span>Score</span>
                <div>{{ getScore(playerType.Human) }} point(s)</div>
            </div>
            <div class="main" [style.display]="isVisiblePlayer ? 'block' : 'none'">{{ getHandSize(playerType.Human) }} piece(s) en main</div>
        </div>
        <div class="adversaire-container">
            <div class="adversaire">Adversaire</div>
            <div class="nom-joueur">{{ getName(playerType.Bot) }}</div>
            <div class="score-container">
                <span>Score</span>
                <div>{{ getScore(playerType.Bot) }} point(s)</div>
            </div>
            <div class="main" [style.display]="isVisibleOpponent ? 'block' : 'none'">{{ getHandSize(playerType.Bot) }} piece(s) en main</div>
        </div>
        <div class="reserve">Il reste {{ getReserveSize() }} piece(s) dans la reserve</div>
        <div class="tour" [style.backgroundColor]="getTurnColor()">{{ getTurnMessage() }}</div>
        <ng-template [ngIf]="isMyTurn !== undefined" [ngIfElse]="startButton">
            <p id="timer">----</p>
            <app-pass-turn id="passer" [activePlayer]="isMyTurn"></app-pass-turn>
        </ng-template>
        <ng-template #startButton>
            <button mat-raised-button class="start" (click)="startGame()">Commencer</button>
        </ng-template>
        <app-end-game class="end" [style.display]="isVisibleGiveUp ? 'block' : 'none'"></app-end-game>
    </div>
</div>
