button {
    font-size: 18pt;
    font-weight: normal;
    padding: 10px 30px 10px 30px;
}

.panneau {
    border-radius: 15px;
    border: 5px solid black;
    width: auto;
    height: auto;
    background-color: rgb(170, 231, 228);
}
.joueur-container {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: lavenderblush;
    border-bottom: 5px solid black;
}

.adversaire-container {
    border-bottom: 5px solid black;
    background-color: lavenderblush;
}

.joueur {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 3ch;
    text-align: center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    background-color: lightgreen;
    padding: 10px;
}
.adversaire {
    font-size: 3ch;
    text-align: center;
    border-bottom: 1px solid black;
    background-color: lightcoral;
    padding: 10px;
}

.main {
    font-size: large;
    background-color: lavenderblush;
    padding: 10px;
    font-style: oblique;
}
.nom-joueur {
    font-size: 25px;
    background-color: lightcyan;
    padding: 20px;
    text-align: center;
}

.score-container {
    font-size: large;
    font-style: oblique;
    background-color: rgb(183, 227, 255);
    padding: 10px;
}

.reserve {
    font-size: large;
    padding: 10px;
    background-color: lightyellow;
    border-bottom: 1px solid black;
}

.tour {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 40px;
    border-bottom: 5px solid black;
    border-top: 5px solid black;
}

.timer-container {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.time {
    margin-bottom: 40px;
    font-size: 1cm;
    text-align: center;
}

.end-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.start {
    padding: 50px;
    width: 350px;
    font-size: 40px;
}
