.passer {
    background-color: green;
    border: 3px solid black;
    padding: 5px;
    font-size: 15px;
    border-radius: 10px;
    width: 270px;
}

.passer:disabled {
    background-color: red;
    color: black;
}
