.title-container {
    margin-bottom: 0 !important;
}

.toggle-switch {
    margin-bottom: 20px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

mat-slider {
    margin-bottom: 20px;
}

mat-button-toggle-group {
    margin-bottom: 30px;
}
