.title-container {
    margin-bottom: 0;
}

.toggle-switch {
    margin-bottom: 20px;
}

.turn-select {
    margin-top: 20px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

mat-slider {
    margin-bottom: 20px;
}

.mat-form-field.mat-form-field {
    margin-bottom: 10px;
}
