.title-container {
    margin-bottom: 0 !important;
}

.toggle-button {
    font-size: 15pt;
    font-weight: lighter;
    flex-grow: 1;
}

mat-label {
    font-size: 15pt;
    font-weight: lighter;
}

mat-label#toggle-button {
    padding-bottom: 10px;
}

mat-form-field.mat-form-field {
    font-size: 15pt;
    margin-bottom: 40px;
    padding-top: 0;
}

mat-slider {
    margin-bottom: 20px;
}

mat-button-toggle-group {
    margin-bottom: 40px;
}
