<mat-card class="menu-card center mat-elevation-z2">
    <div class="title-container">
        <h1 class="title">En attente d'un joueur</h1>
    </div>
    <div class="stretch-column">
        <mat-progress-bar mode="indeterminate" class="progress"></mat-progress-bar>
        <div class="button-row">
            <button mat-button color="warn" (click)="buttonClick.emit('Back')">Quitter</button>
            <button mat-raised-button (click)="openDialog()">Jouer solo</button>
        </div>
    </div>
</mat-card>
