<mat-sidenav-container class='container'>
    <mat-sidenav mode='side' opened disableClose='true'>
        <app-objectives></app-objectives>
        <app-joueur-virtuelle></app-joueur-virtuelle>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div>
            <app-textbox></app-textbox>
            <app-inputbar></app-inputbar>
        </div>

    </mat-sidenav>
</mat-sidenav-container>
