<div id="grid-container">
    <canvas id="canvas" #gridCanvas (click)="mouseHitDetect($event)" [attr.width]="width" [attr.height]="height"></canvas>
    <div id="mouse-position-display">
        <p>Cliquez sur la grille pour avoir la position de la souris</p>
        <p>X : {{ mousePosition.x }}</p>
        <p>Y : {{ mousePosition.y }}</p>
        <hr />
        <p>Appuyez sur une touche du clavier pour la détecter</p>
        <p *ngIf="buttonPressed !== ''">Touche : {{ buttonPressed }}</p>
    </div>
</div>
<button class="btn-group play" (click)="placeLetter()">Jouer</button>

<button type="button" (click)="maximize()">Maximize</button>

<button type="button" (click)="minimize()">Minimize</button>

<button type="button" (click)="openConfirmWindow()">Abandonner</button>

<div class="confirmWindow" [style.display]="isVisible ? 'block' : 'none'">
    <h1>Abandonner la partie et retourner à la page d'accueil?</h1>
    <button type="button" (click)="redirectTo()">Confirmer</button>
    <button type="button" (click)="cancel()">Annuler</button>
</div>
