.winner {
    font-size: 20px;
    text-align: center;
    background-color: goldenrod;
    height: auto;
    margin-bottom: 40px;
    padding: 20px;
    color: darkmagenta;
    border-radius: 10px;
}
