.surrender{
    margin: auto;
}
.surrender{
    margin: auto;
}

.winner{
    font-size: 20px;
    text-align: center;
    background-color: goldenrod;
    height: auto;
    margin-top: 40px;
    padding: 20px;
    color: darkmagenta;
    border-radius: 5px;
}